body{
    background-image: url(images/5ee6d0434353b108f5d084609629317e113fdce15b4c704f742f78dc944acd5e_1280.jpg);
    background-position: 50% 50%;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
   color: white;

}
