body{
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-image: url(images/5ee6d0434353b108f5d084609629317e113fdce15b4c704f742f78dc944acd5e_1280.jpg);
        object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans',sans-serif;
}
}
h1{
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}
input{
    width: 50%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 12px;
}
button{
    width: 189px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: skyblue;
    color: white;

}
.form-box{

}
